@using Microsoft.AspNetCore.Mvc.ModelBinding
@model PaginatedList<Car>

@{
    ViewData["Title"] = "Main Page";
}

<div>
    <h2>Retro Cars</h2>


    <div id="accordion">
        @foreach (var car in Model)
        {
            var viewData = new ViewDataDictionary(
                new EmptyModelMetadataProvider(),
                new ModelStateDictionary()
                )
            {
                { "ShowBuyButton", false }
            };
            @await Html.PartialAsync("_CarPartial", car, viewData)
        }
    </div>
    @Html.ActionLink("Add Car", "Create", "Car", null, new { @class = "btn btn-primary" })
</div>


<div class="d-flex justify-content-center">
    <ul class="pagination">
        <li class="page-item @(Model.PageIndex == 1 ? "disabled" : "")">
            <a class="page-link" href="@Url.Action("Index", new { page = Model.PageIndex - 1 })">Previous</a>
        </li>
        @for (var i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.PageIndex ? "active" : "")">
                <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
            </li>
        }
        <li class="page-item @(Model.PageIndex == Model.TotalPages ? "disabled" : "")">
            <a class="page-link" href="@Url.Action("Index", new { page = Model.PageIndex + 1 })">Next</a>
        </li>
    </ul>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
var page = 1;
var pageSize = 10;

$(document).ready(function() {
    $('#loadMore').click(function() {
        page++;
        loadCars();
    });
});

function loadCars() {
    $.ajax({
        url: '../api/Car/GetCars',
        type: 'GET',
        data: { page: page, pageSize: pageSize },
        success: function(result) {
            // Append the cars to the #cars div
            $('#cars').append(result);
        },
        error: function(result) {
            // Handle error
            alert("Error in loading cars");
            console.log(result)
        }
    });
}
</script>